<nav>
<div class="nav-wrapper green darken-3">
    <a href="#" class="brand-logo right">The Onion Edition</a>
</div>
</nav>
<div class="container">
      <br>
      <br>
      <h1 class="header center">Mongo Scraper</h1>
      <div class="row center">
        <h5 class="header col s12 light">The Onion Edition</h5>
      </div>
      <br>
      <hr>
      <br>
    </div>
</div>
<div id="wrapper" class="container-fluid">
    <div class="row">
        <div class="col s9 m7" id="articles"></div>
        <div class="col s3 m4 push-m1" id="comment"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>

